.header-style-two .navbar-wrap ul li a {
    padding: 15px 6px!important;
}
.logo img {
    max-height: 30px!important;
   
}

 @media (max-width: 1200px) {

    .header-style-two .navbar-wrap ul li a {
   padding: 32px 8px;
}
}
@media (max-width: 1048px) {

    .header-style-two .navbar-wrap ul li a {
        padding: 32px 8px!important;
    }
    .logo img {
        max-height: 30px!important;
       
    }
}

@media (max-width: 720px){
    .logo img {
        max-height: 30px;
        margin-top: 15px;
    }
     }
 /* slider start */
.slidercaption{
    top: 230px;
    width: 85%;
}
.sliderbtn{
    width: 50%;
   margin: 50px auto;
}

.headertop_border{
    border-left: 1px solid #fff;
}

/* news sticker  */
.news-container {
   
    font-family: "Roboto", sans-serif;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
}

.news-container .title {
    position: absolute;
    background: #df2020;
    height: 8%;
    display: flex;
    align-items: center;
    padding: 0 24px;
    color: white;
    font-weight: bold;
    z-index: 200;
    width: 15%;
}

.news-container ul {
    display: flex;
    list-style: none;
    margin: 0;
    animation: scroll 25s infinite linear;
}

.news-container ul li {
    white-space: nowrap;
    padding: 10px 24px;
    color: #494949;
    position: relative;
    font-weight: bold;
}

.news-container ul li::after {
    content:"";
    width: 1px;
    height: 100%;
    background: #b8b8b8;
    position: absolute;
    top: 0;
    right: 0;
}

.news-container ul li:last-child::after {
    display: none;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-1083px);

    }
}

/* team memberstart  */

/*** Testimonial Start ***/


.testimonial .testimonial-carousel .owl-dots {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial .testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: #0f899e;
   
    border-radius: 10px;
    transition: 0.5s;
}

.testimonial .testimonial-carousel .owl-dot.active {
    width: 40px;
    background:#0f899e;
}

